.black-screen {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.logo {
    width: 30px; /* Adjust the size as needed */
    position: absolute;
    animation: appear 2s forwards;
}

.R-logo {
    animation-delay: 0s;
    z-index: 1; /* Ensure R is below J */
    right: 100px;
    bottom: 50px;
}

.J-logo {
    animation-delay: 0.8s; /* Delay the J */
    right: 95px;
    bottom: 50px;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
}
