/* PortfolioPage.css */

.portfolio-container {
    position: relative;
    background-color: black;
    padding-bottom: 100vh;
}

.top-left-logo {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 25px;
    z-index: 30;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    transition: filter 0.1s, transform 0.1s;
    cursor: pointer;
}

.top-left-logo:hover {
    filter: brightness(0.5);
}

.top-left-logo:active {
    animation: logo-click 0.1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes logo-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.black-screen-portfolio {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 20;
}

.intro-container {
    position: relative;
    top: -80px;
    left: 90px;
    text-align: left;
    color: white;
    opacity: 0;
    animation: fadeInFromTop 1s forwards;
}

.intro-text, .intro-name, .intro-tagline, .intro-tagline1 {
    opacity: 0;
}

.intro-text {
    animation: fadeInText 0.5s forwards 0.6s;
    color: #1EFFF1 !important;
    font-family: 'SF Mono', monospace;
    font-size: 15px;
    margin: 0;
}

.intro-name {
    animation: fadeInName 0.5s forwards 0.7s;
    color: white;
    margin: 0;
    font-size: 60px;
}

.intro-tagline {
    animation: fadeInTagline 0.5s forwards 0.8s;
    color: #adb5bd;
    font-size: 60px;
    margin: 0;
}

.intro-tagline1 {
    animation: fadeInTagline1 0.5s forwards 0.9s;
    color: #adb5bd;
    font-size: 15px;
    font-family: 'SF Mono', monospace;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInName {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTagline {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTagline1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navigation-links {
    position: absolute;
    top: 50px;
    right: 60px;
    display: flex;
    gap: 20px;
    z-index: 30;
}

.navigation-links a {
    color: white;
    text-decoration: none;
    font-family: 'SF Mono', monospace;
    font-size: 16px;
    transition: color 0.2s ease;
    opacity: 0;
}

.navigation-links a:nth-child(1) {
    animation: fadeInLink 0.1s forwards 0.2s;
}

.navigation-links a:nth-child(2) {
    animation: fadeInLink 0.19s forwards 0.3s;
}

.navigation-links a:nth-child(3) {
    animation: fadeInLink 0.29s forwards 0.4s;
}

@keyframes fadeInLink {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navigation-links a:hover {
    color: #1EFFF1;
}

.section {
    padding: 100px 60px;
    color: white;
    position: relative;
    z-index: 10;
}

.about-section {
    padding-left: 150px;
    padding-right: 90px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.about-section h1 {
    text-align: left;
    font-size: 40px;
}

.about-section p {
    text-align: left;
}

.experience-section {
    padding-left: 150px;
    padding-right: 90px;
    opacity: 0;
    transform: translateY(700px); /* Adjust initial translateY as needed */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Keep the transition */
}

.experience-section.visible {
    opacity: 1;
    transform: translateY(300px); /* Keep the translateY at 0 when visible */
}

.experience-section h1 {
    text-align: left;
    font-size: 40px;
}

.experience-menu {
    width: 200px;
    float: left;
}

.experience-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    
}

.experience-item.active {
    color: #1EFFF1;
}

.experience-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.line {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 0;
    background-color: #1EFFF1;
    transition: transform 0.5s ease-out;
}

.experience-item.active .line {
    height: 100%;
    transform: translateY(-50%);
}

.experience-heading {
    margin-bottom: 20px;
}

.experience-heading h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-timeline {
    color: #adb5bd;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'SF Mono', monospace;
}

.experience-details {
    margin-left: 220px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.experience-details ul li {
    font-family: 'SF Mono', monospace;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    position: relative;
}

html {
    scroll-behavior: smooth;
}
