.stick_follow_icon {
    top: 50%;
    left: 0;
    width: 40px;
    position: fixed;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stick_follow_icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .stick_follow_icon ul li {
    margin-bottom: 10px;
  }
  
  .stick_follow_icon a {  
    color: #ffffff;
    font-size: 1.5em;
    transition: color 0.3s;
  }
  
  .stick_follow_icon a:hover {
    color: #1EFFF1;
  }
  
  .stick_follow_icon:before {
    content: "";
    display: block;
    width: 2px;
    height: 100px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @media only screen and (max-width: 768px) {
    .stick_follow_icon {
      display: none;
    }
  }
  